html {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
  }
body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    box-sizing: inherit;
}
 /**footer section**/

 footer {
    background-color: #191c40;
    padding: 40px 20px;
    position: relative;
    bottom: 0;

  }
  

.footerall{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
   
}
  
/*.footer{
    padding: 45px 0;
    background-color: #191c40;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}*/

.socials{
    text-align: center;
    padding-bottom: 20px;
    color: #b29758;
}
  
 .socials a{
    font-size: 25px;
    color: #b29758;
    /*border: 3px solid #b29758;*/
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    opacity: 0.7;
}

.socials a i{
    padding-top: 5px;
}

  
.socials a:hover{
    opacity: 0.9;
}
  
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer ul li span{
    color: #b29758;
    font-size: 10px;
}

.footer ul li span:hover{
    color: #c8b17a;
}

.footer ul li a{
    color: #b29758;
    text-decoration: none;
}

.footer ul li a:hover{
    color: #e5c781;
}

.footer .copyright{
    text-align: center;
    margin-top: 20px;
    font-size: 10px;
    color:#b29758;
}
  
  /* *nav bar header**/
  .logo img {
    max-height: 200px;
    width: auto;
}
 
.footercontainer {
    background-color: #191c40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-right: 30px;
    
  }
  
.footercontainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  
.footercontainer li {
    margin: 0 10px;
  }

  .navbar_item:hover {
    transition: 0.5s;
    color:#c8b17a;
}
  
.footercontainer a {
    color: #b29758;
    text-decoration: none;
    font-size: 25px;
  }
  
  @media (max-width: 768px) {
    .footercontainer ul {
      flex-direction: column;
      align-items: center;
    }
  
    .footercontainer li {
      margin: 10px 0;
    }

    .footercontainer a {
        color: #b29758;
        text-decoration: none;
        font-size: 15px;
      }
  }
  
  
  
  /*ver1:
.completenavbar{
    overflow: hidden;
    background-color: #191c40;
    padding : 0 0 27px 0;
    height: 15vh;
    width: 100%;
}

.navbar_item {
    float: left;
    font-size: 20px;
    color: #b29758;
    text-align: center;
    padding: 8vh 20px 0 16px;
    text-decoration: none !important;
    font-weight: bold;
}

.navbar__navsection {
    float: right;
    overflow: hidden;
    padding-right: 3vw;
}

.navbar_item:hover {
    transition: 0.5s;
    color:#c8b17a;
}

.navbar__image{
    background-color: transparent; 
    position: absolute;
    padding-bottom: 100px;
    aspect-ratio: 1 / 1;

}
* */ 


 /* Mobile navigation */
/* .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    height: 70px;
    width: 70px;
}
@media only screen and (max-width: 798px) {
    .nav-mobile {
        display: block;
    }
    nav {
        width: 100%;
        padding: 70px 0 15px;
        display: flex;
        justify-content: center;
    }
    nav ul {
        display: none;
    }
    nav ul li {
        float: none;
    }
    nav ul li a {
        padding: 15px;
        line-height: 20px;
    }
    nav ul li ul li a {
        padding-left: 30px;
    }
    .nav-dropdown {
        position: static;
    }
}
@media screen and (min-width: 799px) {
    .nav-list {
        display: block !important;
    }
}
#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #000;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
} */


