/********************************************************* PROFILE PAGE ****************************************************************************************/

/*********************************************** UPDATE FORM CSS ******************************************************************************/

/* Style for the form container */
.form-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

/* Style for form labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Style for form input fields */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}


button[disabled] {
  color: #000000;
  /* Change the text color of the disabled button */
  background-color: #b4a583;
  /* Change the background color of the disabled button */

}

button[disabled]:hover {
  color: #000000;
  /* Prevent the text color from changing on hover */
  background-color: #b4a072;
  /* Prevent the background color from changing on hover */
}


/* Style for error message */
#error-message {
  margin-top: 10px;
}

/* Style for welcome message */
h1 {
  margin-top: 50px;
  font-size: 30px;
  font-weight: bold;
}

/* Style for information message */
div.info-message {
  margin-top: 20px;
}

/* Style for orders container */
.orders-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

/* Style for orders header */
.orders-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Style for orders table */
table.orders-table {
  border-collapse: collapse;
  width: 100%;
}

table.orders-table th,
table.orders-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

table.orders-table th {
  background-color: #f2f2f2;
}

/* Style for logged in message */
h4.logged-in {
  margin-top: 20px;
}

.form-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 0 20px;
  padding: 20px;
  vertical-align: top;
  width: 300px;
  height: 420px;
}

#error-message {
  position: absolute;
  color: red;
  margin-top: -4px;
}

#name-error,
#email-error {
  position: absolute;
  color: red;
  margin-top: -14px;
}


.form-box form {
  display: flex;
  flex-direction: column;
  position: relative;

}

.form-box label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-box input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3
}


.margin_space {
  margin-bottom: 10px;
}


.form__input-group {
  margin-top: 20px;
}

.form__input-group2 {
  margin-top: 30px;
}

.form__input-group3 {
  margin-top: 10px;
}

.onClickMessageForm1 {
  margin-top: 10px;
}

.onClickMessageForm2 {
  margin-top: 10px;
}

/************************************ RESPONSIVENESS OF FORM ONCLICK MESSAGES (NAME/EMAIL) ************************************/
@media (max-width: 439px) {
  .onClickMessageForm1 {
    font-size: 14px;
  }
}

@media (max-width: 389px) {
  .onClickMessageForm1 {
    font-size: 12px;
  }
}

@media (max-width: 280px) {
  .onClickMessageForm1 {
    font-size: 10px;
  }
}

/************************************ END OF RESPONSIVENESS OF FORM ONCLICK MESSAGES (NAME/EMAIL) ************************************/

/************************************ RESPONSIVENESS OF FORM ONCLICK MESSAGES (PASSWORD) ************************************/

@media (max-width: 563px) {
  .onClickMessageForm2 {
    font-size: 14px;
  }
}



@media (max-width: 493px) {
  .onClickMessageForm2 {
    font-size: 12px;
  }
}

/************************************ END OF RESPONSIVENESS OF FORM ONCLICK MESSAGES (PASSWORD) ************************************/


/*********************************************** END OF UPDATE FORM CSS ******************************************************************************/

/*********************************************** RECENT ORDERS CSS ******************************************************************************/

.table-container {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.orders-table {
  border-collapse: collapse;
  width: 100%;
}

.orders-table th,
.orders-table td {
  border: 1px solid #ddd;
  padding: 12px 8px;
  text-align: center;
}

.orders-table th {
  background-color: #f2f2f2;
}

.orders-table th:first-child,
.orders-table td:first-child {
  text-align: left;
}

.orders-table td:nth-child(2) {
  width: 150px;
}

.orders-table td:last-child {
  width: 120px;
}

.orders-table tfoot td {
  border-top: 2px solid #ddd;
  font-weight: bold;
}

.orders-table tfoot td:first-child {
  text-align: right;
}

.orders-table tfoot td:last-child {
  text-align: center;
}

.order-row:nth-child(odd) {
  background-color: #f9f9f9;
}

.no-orders {
  text-align: center;
  font-style: italic;
  color: grey;
}


table {
  border-collapse: collapse;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #f7f7f7;
}

th,
td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th:first-child,
td:first-child {
  padding-left: 20px;
}

th:last-child,
td:last-child {
  padding-right: 20px;
}

tr:hover {
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: #007bff;
}

/*a:hover {
  text-decoration: underline;
}
*/

td.status {
  text-transform: uppercase;
}

td.status span {
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

td.status .status-label {
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
}

.shipped {
  background-color: #BBB117 !important;
}

.delivered {
  background-color: green !important;
}

.canceled {
  background-color: red !important;
}

.default {
  background-color: #007bff !important;
}

.shipped-label {
  color: #BBB117;
}

.delivered-label {
  color: green;
}

.canceled-label {
  color: red;
}

.default-label {
  color: blue;
}

table img {
  display: block;
  margin: auto;
}

table td div {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  font-size: 16px;
}

table td:nth-child(2) {
  text-align: center;
}



table tbody tr:last-child td:first-child {
  padding-top: 20px;
}

.table-wrap td.textOnLeft {
  text-align: left;
}

@media only screen and (max-width: 384px) {
  .table-wrap table {
    width: 100%;
  }

  .table-wrap thead {
    display: none;
  }

  .table-wrap td {
    display: block;
    text-align: center;
  }

  .table-wrap td.textOnLeft {
    text-align: center;
  }
}

.shopNowCSS {
  color: black;
  text-decoration: underline;
}

.shopNowCSS:hover {
  color: #b29758;
}

/************************************* ERROR SCREEN MEDIA ADJUSTMENT *************************************/
@media (max-width: 438px) {

  #name-error,
  #email-error {
    font-size: 14px;
  }
}

@media (max-width: 389px) {
  #name-error {
    font-size: 12px;
  }
}

@media (max-width: 348px) {
  #name-error {
    font-size: 10px;
  }
}

@media (max-width: 301px) {
  #name-error {
    font-size: 9px;
  }

  .error {
    font-size: 12px;
    color: red;
    text-align: center;
  }
}

@media (max-width: 334px) {
  #email-error {
    font-size: 12px;
  }
}

@media (max-width: 301px) {
  #email-error {
    font-size: 10px;
  }
}

@media (max-width: 460px) {
  #error-message {
    font-size: 14px;
  }
}

@media (max-width: 407px) {
  #error-message {
    font-size: 12px;
  }
}

@media (max-width: 365px) {
  #error-message {
    font-size: 10px;
  }
}

@media (max-width: 314px) {
  #error-message {
    font-size: 9px;
  }
}

@media (max-width: 292px) {
  #error-message {
    font-size: 8.5px;
  }
}

/************************************* END OF ERROR SCREEN MEDIA ADJUSTMENT *************************************/


/*********************************************** END OF RECENT ORDERS CSS **************************************************************************/

/********************************************************* END OF PROFILE PAGE ****************************************************************************************/



/********************************************************* ORDER DETAILS PAGE ****************************************************************************************/

.order-status {
  text-transform: uppercase;
}

.show-order-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  font-size: 16px;
}

.show-order-table th {
  font-weight: bold;
  text-align: left;
  padding: 12px 20px;
  border-bottom: 2px solid #ddd;
}

.show-order-table td {
  padding: 12px 20px;
  border-bottom: 1px solid #ddd;
  vertical-align: top;
}

.show-order-table td:first-child {
  display: flex;
  align-items: center;
  gap: 20px;
}

.show-product-image img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.product-info p {
  margin: 0;
}

.show-order-table tr:last-child td:first-child,
.show-order-table tr:last-child td:last-child {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}

.show-order-table tr:last-child td:last-child strong {
  color: #F44336;
}

@media screen and (max-width: 600px) {

  .show-order-table th,
  .show-order-table td {
    padding: 12px;
  }

  .show-product-image img {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 365px) {
  .show-order-table {
    font-size: 0.8em;
  }

  .show-product-image img {
    max-width: 60px;
  }

  .product-info {
    margin-left: 10px;
  }

  .go-back-btn-container {
    text-align: left;
    margin-left: 10px;
  }
}

@media (max-width: 320px) {
  .show-order-table {
    font-size: 0.6em;
  }

  .show-product-image img {
    max-width: 40px;
  }

  .product-info {
    margin-left: 6px;
  }

  .go-back-btn-container {
    margin-left: 6px;
  }
}


.go-back-btn-container {
  text-align: center;
  margin-top: 20px;
}

.go-back-btn {
  background-color: #b29758;
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #555;

}

.go-back-btn:hover {
  background: #c8b17a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: black;
}


@media screen and (max-width: 768px) {
  .go-back-btn {
    font-size: 14px;
    padding: 8px 16px;
  }
}





/********************************************************* END OF ORDER DETAILS PAGE ****************************************************************************************/