/* body */


body {
    background-color: white;
    font-family: cambria math;
    position: relative;
 }

 .pagecontent {
    min-height: calc(100vh - 100px - 200px); /* Subtract header and footer height from viewport height */
    padding: 20px;
  }

  html {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
  }
body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    box-sizing: inherit;
}
 /**footer section**/

 footer {
    background-color: #191c40;
    padding: 40px 20px;
    position: relative;
    bottom: 0;
    max-width: 100%;

  }
  

.footerall{
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
   
}
  
/*.footer{
    padding: 45px 0;
    background-color: #191c40;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}*/

.socials{
    text-align: center;
    padding-bottom: 20px;
    color: #b29758;
}
  
 .socials a{
    font-size: 25px;
    color: #b29758;
    /*border: 3px solid #b29758;*/
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    opacity: 0.7;
}

.socials a i{
    padding-top: 5px;
}

  
.socials a:hover{
    opacity: 0.9;
}
  
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer ul li span{
    color: #b29758;
    font-size: 10px;
}

.footer ul li span:hover{
    color: #c8b17a;
}

.footer ul li a{
    color: #b29758;
    text-decoration: none;
}

.footer ul li a:hover{
    color: #e5c781;
}

.footer .copyright{
    text-align: center;
    margin-top: 20px;
    font-size: 10px;
    color:#b29758;
}
  
  /* *nav bar header* */
  .navcontainer{
    max-width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }

  /* *nav bar header**/
  .logo img {
    max-height: 200px;
    width: auto;
}
 
.navcontainer {
    background-color: #191c40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-right: 30px;
    
  }
  
.navcontainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  
.navcontainer li {
    margin: 0 10px;
  }

  .navbar_item:hover {
    transition: 0.5s;
    color:#c8b17a;
}
  
.navcontainer a {
    color: #b29758;
    text-decoration: none;
    font-size: 25px;
  }
  
  @media (max-width: 768px) {
    .navcontainer ul {
      flex-direction: column;
      align-items: center;
    }
  
    .navcontainer li {
      margin: 10px 0;
    }

    .navcontainer a {
        color: #b29758;
        text-decoration: none;
        font-size: 15px;
      }
  }

  /*ver1:
.completenavbar{
    overflow: hidden;
    background-color: #191c40;
    padding : 0 0 27px 0;
    height: 15vh;
    width: 100%;
}

.navbar_item {
    float: left;
    font-size: 20px;
    color: #b29758;
    text-align: center;
    padding: 8vh 20px 0 16px;
    text-decoration: none !important;
    font-weight: bold;
}

.navbar__navsection {
    float: right;
    overflow: hidden;
    padding-right: 3vw;
}

.navbar_item:hover {
    transition: 0.5s;
    color:#c8b17a;
}

.navbar__image{
    background-color: transparent; 
    position: absolute;
    padding-bottom: 100px;
    aspect-ratio: 1 / 1;

}
* */ 


 /* Mobile navigation */
/* .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    height: 70px;
    width: 70px;
}
@media only screen and (max-width: 798px) {
    .nav-mobile {
        display: block;
    }
    nav {
        width: 100%;
        padding: 70px 0 15px;
        display: flex;
        justify-content: center;
    }
    nav ul {
        display: none;
    }
    nav ul li {
        float: none;
    }
    nav ul li a {
        padding: 15px;
        line-height: 20px;
    }
    nav ul li ul li a {
        padding-left: 30px;
    }
    .nav-dropdown {
        position: static;
    }
}
@media screen and (min-width: 799px) {
    .nav-list {
        display: block !important;
    }
}
#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #000;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
} */




/* Landing Page */
/* landing images */


.viewport-container {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    color: black;
}

.main {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    background-image: url("../images/allProductImages/25.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    color: #000;
  }

#main-button {
    position: relative;
    margin: 0 auto;
    height: fit-content;
    width: fit-content;
    padding: 1%;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

#main-button:hover {
    -webkit-transition: background 0.4s; /* For Safari 3.0 to 6.0 */
    transition: background 0.4s; /* For modern browsers */
    background-color: #D3D3D3;
    border: 1px solid #000;
}

#main-text {
    margin: 0 auto;
    padding-top: 10%;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

.viewport-subcontainer {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.viewport-subcontainer > div {
    width: 50%;
    height: 100%;
}

.diamond {
    background-image: url("../images/allProductImages/11.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 70%;
    display: flex;
    align-items: center;
}

.diamond a {
    position: relative;
    margin: 0 auto;
    height: fit-content;
    width: fit-content;
    padding: 1%;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.diamond a:hover {
    -webkit-transition: background 0.4s; /* For Safari 3.0 to 6.0 */
    transition: background 0.4s; /* For modern browsers */
    background-color: #D3D3D3;
    border: 1px solid #000;
}

.gold {
    background-image: url("../images/allProductImages/8.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 70%;
    display: flex;
    align-items: center;
}

.gold a {
    position: relative;
    margin: 0 auto;
    height: fit-content;
    width: fit-content;
    padding: 1%;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.gold a:hover {
    -webkit-transition: background 0.4s; /* For Safari 3.0 to 6.0 */
    transition: background 0.4s; /* For modern browsers */
    background-color: #D3D3D3;
    border: 1px solid #000;
}


/* Category */

.category-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    height: 300px;
}

.category-item {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-top: 50px;
    color: #000;
    transition: all .2s ease-in-out;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.category-item:hover {
    transform: scale(1.1);
}

.category-item > div {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.category-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.category-text {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

#rings {
    background-image: url("../images/allProductImages/34.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

#necklaces {    
    background-image: url("../images/allProductImages/4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

#earrings {
    background-image: url("../images/allProductImages/16.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

#bracelets {
    background-image: url("../images/allProductImages/22.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

#exclusiveSets {
    background-image: url("../images/allProductImages/38.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

/* Featured  */

.featured-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    height: 300px;
}

.featured-item {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-top: 50px;
    color: #000;
    transition: all .2s ease-in-out;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.featured-item:hover{
    transform: scale(1.1);
}

.featured-item > div {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.featured-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.featured-text {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

#featured1 {
    background-image: url("../images/allProductImages/39.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

#featured2 {
    background-image: url("../images/allProductImages/43.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

#featured3 {
    background-image: url("../images/allProductImages/22.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

#featured4 {
    background-image: url("../images/allProductImages/23.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

#featured5 {
    background-image: url("../images/allProductImages/6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

/* sustainability */

.sustainability-container {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.sustainability-container > div {
    width: 30%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.sustainability-content {
    width: 30%;
    margin-top: 20px;
    margin-bottom: 90px;
    
}

#sustainability-img {
    background-image: url("https://cdn.pixabay.com/photo/2023/02/14/18/55/flowers-7790227_960_720.jpg");
    background-position: center;
}

#sustainbility-txt {
    color: #b29758;
    height: fit-content;
    min-height: 170px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #191c40;
}

@media screen and (max-width: 799px) {
    #sustainability-img {
        display: none;
    }

    #sustainbility-txt {
        width: fit-content;
    }
}




 
/**cart section**/
.empty{
    text-align: center;
}

.empty p{
    font-size: 14px;
}

.basketheader{
    text-align: center;
    font-weight: bold;
    font-family: cambria math;
    font-size: 38px;
    font-family: inherit;
    padding: 20px;
}

.text-navy {
    color: #191c40;
  }
  
  .cart-product-imitation {
  text-align: center;
  padding-top: 30px;
  height: 80px;
  width: 80px;
  background-color: #f8f8f9;
  }
  
  .product-imitation.xl {
  padding: 120px 0;
  }
  
  .product-desc {
  padding: 20px;
  position: relative;
  }
  
  .ecommerce .tag-list {
  padding: 0;
  }
  
  .ecommerce .fa-star {
  color: #d1dade;
  }
  
  .ecommerce .note-editor {
  border: 1px solid #e7eaec;
  }
  
  table.shoping-cart-table {
  margin-bottom: 0;
  }
  
  table.shoping-cart-table tr td {
  border: none;
  text-align: right;
  }
  
  table.shoping-cart-table tr td.desc,
  table.shoping-cart-table tr td:first-child {
  text-align: left;
  }
  
  table.shoping-cart-table tr td:last-child {
  width: 80px;
  }
  
  .ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
  }
  
  .ibox.collapsed .ibox-content {
  display: none;
  }
  
  .ibox:after,
  .ibox:before {
  display: table;
  }
  
  .ibox-title {
  background-color: #c8b17a;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 50px;
  }
  
  .ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  }
  
  .ibox-footer {
  color: inherit;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
  }
  
.cart-item-label {
    display: block;
    margin-bottom: 15px;
    color: #8c8c8c;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }

.count-input {
    display: inline-block;
    width: 85px;
  }

  .cart__btnwhite{
    padding: 1rem 2rem;
    font-weight: lighter;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    border-radius: var(--border-radius);
    cursor: pointer;
    background: #b29758 ;
  }

  .cart__btnwhite:hover{
    background: #c8b17a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .text-muted{
        color: black;
        text-decoration: none;
        cursor: pointer;
        font-size: 16px;
    }

    .text-muted:hover{
            text-decoration:underline;
    }

    .contactus__link{
        color: black;
        text-decoration: none;
        cursor: pointer;
        font-size: 16px;
    }

    .contactus__link:hover{
        text-decoration:underline;
    }
  
.checkout__button{
    background-color: #b29758;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #555;
}

/*.checkout__button{
    padding: 1rem 2rem;
    font-weight: lighter;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    border-radius: var(--border-radius);
    cursor: pointer;
    background: #b29758 ;
    outline: black; */

.checkout__button:hover{
    background: #c8b17a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

/* user registration & login page styling starts here */
.reg__container{
    --color-primary: #b29758;
    --color-primary-dark:#c8b17a;
    --border-radius: 4px;

}
.form__title{
    font: 500 1rem 'Quicksand', cambria math;
    font-weight: 600;
    font-size: 30px;
    padding: 1rem;
}

.reg__container{
    width: 80%;
    max-width: 500px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
    margin: auto;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.errorlog {
  position: absolute;
  height: 20px;
  font-size: 14px;
  margin-top: -10px;
}

.error {
    color: red;
    text-align: center;
  }

button[disabled] {
    color: #000000;
    /* Change the text color of the disabled button */
    background-color: #b4a583;
    /* Change the background color of the disabled button */
  
  }
  
  button[disabled]:hover {
    color: #000000;
    /* Prevent the text color from changing on hover */
    background-color: #b4a072;
    /* Prevent the background color from changing on hover */
  }

.reg__container
.form__input,
.form__button{
    font: 500 1rem 'Quicksand', cambria math;
}


.form__input{
    display: block;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
    font-family:Cambria math !important; 
    font-size: 16px;
}

.form__input:focus{
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__button{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: lighter;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    border-radius: var(--border-radius);
    cursor: pointer;
    background: var(--color-primary);
}

.form__button:hover{
    background: var(--color-primary-dark);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form__text{
text-align: center;
}

.form__link{
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;;
}

.form__link:hover{
    text-decoration:underline;
    color: black;
}

.login__container{
    --color-primary: #b29758;
    --color-primary-dark:#c8b17a;
    --border-radius: 4px;
}

.login__container{
    width: 400px;
    max-width: 500px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
    margin: auto;
    margin-bottom: 5rem;
    margin-top: 5rem;
    font-family:Cambria math !important ; 
}

/* item page styling starts here */

.items{
    text-align:left;
    padding-top: 20px;
    padding-bottom: 50px;
}

.itemimage{
    width: 80%;
    height: auto;
}

.itemheader{
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    font-family: inherit;
    padding: 50px;
}

.itemsubheading{
    font-weight: bold;
    font-size: 25px;
}

